* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", Georgia, serif;;
    background: #6B7280;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 65px;
    padding: 5px;
    background-color: #111827;
    z-index: 1;
}

.icon {
    position: absolute;
    left: 15px;
    width: 55px;
    height: 55px;
}

.icon>img {
    width: 55px;
    height: 55px;
}

h3 {
    margin: 0px auto;
    margin-top: 65px;
    width: 80%;
    padding: 10px;
    text-align: center;
    color: #fff;
}

.burger {
    position: absolute;
    top: 0px;
    right: 10px;
    width: 75px;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    /* z-index: 2000; */
}

.burger div {
    height: 6px;
    background-color: #2D89EF;
    border-radius: 2px;
}

.dropdown {
    position: absolute;
    top: 60px;
    right: -10px;
    width: 0px;
    height: calc(100vh - 60px);
    padding-top: 50px;
    list-style: none;
    background-color: #ccc;
    /* color: #fff; */
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    transition: width 0.4s ease;
    /* z-index: 3000; */
}

.dropdown li {
    transition: background-color 0.4s ease;
    color: #fff;
}

.dropdown li:hover {
    background-color: #fff;
}

li a:hover {
    color: #2D89EF;
}

li a {
    display: inline-block;
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
}

.show {
    width: 60vw;
}

/* .burger:hover .dropdown {
    width: 100vw;
} */

.main {
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    animation: fadeIn 0.5s ease-in;
}

.main div {
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 8px;
    font-size: 18px;
    width: calc(50% - 5px);
    aspect-ratio: 1 / 1;
    background-position: center;
    background-size: cover;
    /* padding-bottom: 10px; */
    text-align: center;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.main div:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

.main div p {
    width: 100%;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.main>div:nth-child(1) {
    background-image: url(../images/1.jpg);
    /* background-color: #fff; */
}

.main>div:nth-child(2) {
    background-image: url(../images/2.jpg);
    /* background-color: #fff; */
}

.main>div:nth-child(3) {
    background-image: url(../images/3.jpg);
    /* background-color: #fff; */
}

.main>div:nth-child(4) {
    background-image: url(../images/4.jpg);
    /* background-color: #fff; */
}

.main>div:nth-child(5) {
    background-image: url(../images/5.jpg);
    /* background-color: #fff; */
}

.main>div:nth-child(6) {
    background-image: url(../images/6.jpg);
    /* background-color: #fff; */
}

.content {
    position: absolute;
    top: 60px;
    /* left: 0; */
    width: 100vw;
    padding: 100px 25px;
    height: calc(100vh - 61px);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    /* overflow: hidden; */
    
    transform: translateX(-100%);
    transition: transform 1s ease;
}

.content > .inner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 30px 20px;
    border-radius: 8px;
    text-align: center;
    background-color: #ccc;
    color: #000;
    
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}